.app {
    background: rgb(245, 247, 248);
    height: 100vh;
    padding: 30px;
  }
  
  .todo-list {
    background: hsl(0, 0%, 91%);
    border-radius: 5px;
    padding: 20px;
    width: 175vh;
    margin-left: 36vh;
    align-items: center;

  }
  
  .todo {
    align-items: center;
    background: rgb(255, 255, 255);
    width: 150vh;
    border-radius: 5px;
    box-shadow: 10px 10px 1px rgba(0, 0, 0, 0.15);
    display: flex;
    font-size: 20px;
    margin-left: 5vh;
    margin-right: 0px;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px 10px;
  }


  .btn1 {
    background: #42ba96;
    background-image: -webkit-linear-gradient(top, #42ba96, #42ba96);
    background-image: -moz-linear-gradient(top, #42ba96, #42ba96);
    background-image: -ms-linear-gradient(top, #42ba96, #42ba96);
    background-image: -o-linear-gradient(top, #42ba96, #42ba96);
    background-image: linear-gradient(to bottom, #42ba96, #42ba96);
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn1:hover {
    background: #67e05c;
    background-image: -webkit-linear-gradient(top, #67e05c, #5ce663);
    background-image: -moz-linear-gradient(top, #67e05c, #5ce663);
    background-image: -ms-linear-gradient(top, #67e05c, #5ce663);
    background-image: -o-linear-gradient(top, #67e05c, #5ce663);
    background-image: linear-gradient(to bottom, #67e05c, #5ce663);
    text-decoration: none;
  }

  .btn2 {
    background: #000000;
    background-image: -webkit-linear-gradient(top, #000000, #000000);
    background-image: -moz-linear-gradient(top, #000000, #000000);
    background-image: -ms-linear-gradient(top, #000000, #000000);
    background-image: -o-linear-gradient(top, #000000, #000000);
    background-image: linear-gradient(to bottom, #000000, #000000);
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn2:hover {
    background: #2e2e2e;
    text-decoration: none;
  }