.navbar {
  background-color: #060b26;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
  position: fixed;
}

.menu-bars {
  margin-left: 1.5rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #8e24aa;
  width: 300px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  color: #f5f5f5;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 0px 08px;
  list-style: none;
  height: 100px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 8  px;
  border-radius: 4px;
}

.nav-text a:hover {
  background:#363636;
  border-left: 4px solid #632ce4;
  cursor: pointer;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #8e24aa;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}
